<div class="container d-flex justify-content-center">
  <form class="enter-info" action="/restaurant/{{restaurant._id}}/edit" method="POST">
    <div class="row">
      <div class="col-sm-6 col-12">
        <p>餐廳名稱：</p>
        <input class="w-100" type="text" placeholder="e.g.弎樓" name="name" required="required"
          value="{{restaurant.name}}">
      </div>
      <div class="col-sm-6 col-12">
        <p>餐廳英文名(選填)：</p>
        <input class="w-100" type="text" placeholder="e.g.Three Floor" name="name_en" value="{{restaurant.name_en}}">
      </div>
      <div class="col-sm-6 col-12">
        <p>類型：</p>
        <input class="w-100" type="text" placeholder="e.g.酒吧、台式料理" name="category" required="required"
          value="{{restaurant.category}}">
      </div>
      <div class="col-sm-6 col-12">
        <p>聯絡電話(選填)：</p>
        <input class="w-100" type="text" placeholder="09-XXX-XXX、02-XXXXXX" name="phone" value="{{restaurant.phone}}">
      </div>
      <div class="col-12">
        <p>相關圖片網址：</p>
        <input class="w-100" type="text" placeholder="https://.." name="image" value="{{restaurant.image}}">
      </div>
      <div class="col-sm-6">
        <p>地址：</p>
        <input class="w-100" class="w-100" type="text" placeholder="台北市中正區..." name="location" required="required"
          value="{{restaurant.location}}">
      </div>
      <div class="col-sm-6 col-12">
        <p>GOOGLE 評分：</p>
        <input class="w-100" type="text" placeholder="e.g. 4.2" name="rating" required="required"
          value="{{restaurant.rating}}">
      </div>
      <div class="col-12">
        <p>GOOGLE-MAP 網址：</p>
        <input class="w-100" type="text" placeholder="https://goo.gl/maps/..." name="google_map" required="required"
          value="{{restaurant.google_map}}">
      </div>
      <div class="col-12">
        <p>描述：</p>
        <textarea class="w-100" placeholder="請輸入相關描述，例如：酒吧結合台式熱炒料理，每道菜都有不同於其他間店的風味，麻婆豆腐特別獨特好吃！" name="description"
          required="required">{{restaurant.description}}</textarea>
      </div>
      <a href="/" class="info-button">回首頁</a>
      <a href="/restaurant/detail/{{restaurant._id}}" class="info-button">店家頁面</a>
      <button type="submit">儲存</button>
    </div>
  </form>
</div>